body {
  background: #e9e9e9;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: "Times New Roman", serif;
  text-transform: uppercase;
}

.centrar {
  text-align: center;
}

p {
  color: #494949;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  text-align: justify;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.negrita {
  color: #000;
  font-weight: bold;
}

.rojo {
  color: red;
}

.subrayado {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}

.small {
  font-size: 0.9em;
}

